body{
    background-color: #658062;
    text-align: center;
}

.admin{
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
}

#lgreen-box2 {
    padding: 30px;
    margin-top: 250px;
    margin-right: 10%;
    margin-left: 10%;
    background-color: #a4cf9fad;
    color: white;
    font-weight: bold;
    min-width: 200px;
}

table{
    color:white;
}

td{
    padding:50px;
}

tr{

}

th{

}